# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log

# Go build artifacts
bin/
dist/
*.exe
*.out

# Helm
*.tgz

# Kubernetes
kubeconfig
.kube/

# Logs & misc
*.log
.DS_Store
.idea/
.vscode/
